           Server os family {{ ansible_os_family }} <br>
           Web server operation system is {{ ansible_distribution_major_version }} <br> 
           [HARDWARE] <br>
           Web server pocessors {{ ansible_processor }}<br>
           Web server memory {{ ansible_memtotal_mb }} mb </p>

