<html>
<head>
<title>Personal page</title>
</head>
<body>
<h1>This is page did best DevOps in the world EVGHENI</h1>
<p>If you can see this, That means waht you ivited <<<>>>>> nginx.</p>
<p>Running on {{ inventory_hostname }}</p>
</body>
</html>